<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% for (let top of category.top3) { %>
        <li><%= top %></li>
    <% } %>

    <% let keys = Object.keys(category.views) %>
    <% for (let key of keys) { %>
        <li><%= key %> : <%= category.views[key] %>  </li>
    <% } %>
</body>
</html>