body {
    font-family: 'Robot', sans-serif;
}



select {
    border: 1px rgb(0, 34, 63) solid;
}

.dropdownList {
    border: 2px black solid;
    width: 40vw;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

